{
  "presets": [
    "@babel/preset-env"
  ],
  "plugins": [
    [
      "@babel/transform-arrow-functions"
    ],
    [
      "@babel/plugin-transform-optional-chaining"
    ],
    [
      "@babel/plugin-transform-nullish-coalescing-operator"
    ]
  ]
}